* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
}

body {
    zoom: 80%;
}


.favourites {
    text-align: center;
    background-color: rgb(247, 247, 247);
    padding: 20px;
    color: black;

    a,
    a:visited,
    a:hover {
        color: black;
        font-size: 18px;
    }
}

.flex {
    display: flex;
}

nav {
    border-bottom: 1px solid lightgray;
    padding-bottom: 25px;

    .topNav {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 600;

        >div {
            flex-basis: 33.33vw;
        }

        .logo {
            display: flex;
            align-items: center;
            gap: 20px;

            img {
                border-radius: 20px;
            }
        }

        .nav-options {
            display: flex;
            gap: 15px;
            align-content: center;

            span {
                padding: 1rem;
            }

            span:hover {
                border: 1px solid lightgray;
                border-radius: 20px;
                background-color: rgb(247, 247, 247);
                font-weight: bold;
            }
        }

        .nav-profile {
            display: flex;
            gap: 20px;
            margin-right: 20px;
            justify-content: flex-end;
            box-sizing: border-box;
            align-items: center;

            div {
                padding: 0.5rem;
            }

            div:hover {
                border: 1px solid lightgray;
                border-radius: 20px;
                background-color: rgb(247, 247, 247);
                font-weight: bold;

                svg {
                    font-weight: bold;
                }
            }
        }
    }

    .nav-searchbar {
        justify-content: center;
        align-items: center;

        .search-div {
            display: flex;
            justify-content: space-between;
            gap: 50px;
            border: 1px solid lightgray;
            align-items: center;
            border-radius: 30px;
            padding: 5px;

            
            >div:not(.svg-search) {
                border: 1px solid transparent;
                border-radius: 20px;
                padding: 10px;
                /* flex-basis: 20%; */
                &:first-child {
                    margin-left: 10px;
                }

                p {
                    font-weight: 600;
                }

                span {
                    color: rgb(116, 106, 106);
                    font-size: 14px;
                }

                &:hover {
                    background-color: rgb(247, 247, 247);
                }
            }

            >div {
                
                &:last-child {
                    margin-right: 10px;
                }
            }

            .svg-search {
                background-color: red;
                padding: 12px;
                border-radius: 50%;
                width: 40px;
                height: 40px;
            }

            hr {
                height: 30px;
            }
        }
    }
}

main {
    margin-top: 20px;

    .filter {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .icons-help {
            display: flex;
            &:first-child {
                margin-left: 30px;
            }
        }
    }

    .filter-icon {
        border: 1px solid lightgray;
        padding: 15px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        gap: 5px;
    }


    .items {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 25px;
        .product {
            .image {
                border-radius: 20px;
                img {
                    border-radius: 20px;
                }
                position: relative;

                .like {
                    position: absolute;
                    top: 11px;
                    right: 18px;

                }
            }

            .label {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .description {
                margin-left: 5px 10px;
            }
        }
    }
}

.light {
    color: rgb(188, 174, 174);
}

footer {
    border-top: 1px solid lightgray;
    background-color: rgb(247, 247, 247);
    padding: 10px;
    margin-top: 20px;
    .footer-links {
        display: flex;
        justify-content: space-around;
        align-items: center;
        p:not(.bold) {
            line-height: 1.7;
            font-weight: 100;
            color: rgb(149, 138, 138);
        }

        .bold {
            line-height: 2.5;
            font-weight: bold;
        }
        
    }
}